<article class="postListContainer">
  <ul class="postList">
    @for(post of slicedPosts; track trackById){
    <post-card
      imageUrl="{{
        post.id % 2 === 0
          ? 'https://xsgames.co/randomusers/avatar.php?g=female'
          : 'https://xsgames.co/randomusers/avatar.php?g=male'
      }}"
      title="{{ post.title }}"
      id="{{ post.id }}"
      author="{{ post.author.name }}"
    />
    }
  </ul>
  <mat-paginator
    class="pagination"
    [length]="posts.length"
    [pageSize]="pageSize"
    (page)="currentPage = $event.pageIndex + 1"
    [hidePageSize]="hidePageSize"
    aria-label="Select page"
  >
  </mat-paginator>
</article>
